footer
  .footer-content
    .footer-logo DREAMSHARE
    .footer-info
      .footer-info__title Company
      .footer-info__links
        a(href='#') About
        a(href='#') Contact
        a(href='#') Press
        a(href='#') Blog
        a(href='#') Terms and Privacy
        a(href='#') Help
    .footer-title Partners
    .design
      .design__text DESIGNED BY
      .design__logo
